% from wapptpl import url
% import abtpl
% title = 'nq job: ' + job_id
% rebase('ab/base.html')
<div class="w3-container" name="job_info">
<p>
	<a class="{{ abtpl.button_class }} {{ abtpl.button_current }}"
		href="{{ url('/nq', job_id) }}">nq job: {{ job_id }}</a>
	<a class="{{ abtpl.button_class }} w3-text-red"
		href="{{ url('/nq.delete', job_id) }}">delete</a>
</p>
</div><!-- job_info -->
<div class="w3-container w3-margin-bottom" name="job_output">
<div class="w3-container w3-camo-black">
<pre>
% for line in job_output.splitlines():
%   if line.startswith('Document ') or \
%      line.startswith('Time ') or \
%      (line.startswith('Failed requests:') and line.endswith('0')) or \
%      line.startswith('Complete requests:') or \
%      line.startswith('Requests per second:') or \
%      line.startswith('Concurrency Level:') or \
%      line.startswith('Server Hostname:'):
<span class="w3-text-green">{{ line }}</span>
%   elif line.startswith('Failed ') or \
%        line.startswith('Non-2xx responses:'):
<span class="w3-text-red">{{ line }}</span>
%   else:
{{ line }}
%   end
% end
</pre>
</div>
</div><!-- job_output -->
