[Unit]
Description=herokud
Requires=syslog.service
Requires=docker.service
After=docker.service
AssertFileIsExecutable=/srv/uws/deploy/srv/herokud/run.sh

[Service]
Type=exec
Restart=on-failure
StandardError=syslog
User=uwsrun
Group=uws
WorkingDirectory=/home/uwsrun
ExecStop=/usr/bin/docker kill herokud
SuccessExitStatus=SIGKILL
#Environment=SFTP_PORT='2222'
#Environment=SFTP_MODE='--rm'
#PassEnvironment=SFTP_PORT SFTP_MODE
ExecStart=/srv/uws/deploy/srv/herokud/run.sh

[Install]
WantedBy=multi-user.target
