[Unit]
Description=uws-abench
Requires=syslog.service
Requires=docker.service
After=docker.service
AssertFileIsExecutable=/srv/uws/deploy/srv/ab/start.sh

[Service]
Type=exec
Restart=on-failure
StandardError=syslog
User=uwsrun
Group=uws
WorkingDirectory=/home/uwsrun
ExecStop=/srv/uws/deploy/srv/ab/stop.sh
ExecStart=/srv/uws/deploy/srv/ab/start.sh
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
