[Unit]
Description=uwsadm-prod
Requires=syslog.service
Requires=docker.service
After=docker.service
AssertFileIsExecutable=/srv/run/webapp/prod/admin-service-stop.sh
AssertFileIsExecutable=/srv/run/webapp/prod/admin-service-start.sh

[Service]
Type=exec
Restart=on-failure
StandardError=syslog
User=uwsrun
Group=uws
WorkingDirectory=/home/uwsrun
ExecStop=/srv/run/webapp/prod/admin-service-stop.sh prod
ExecStart=/srv/run/webapp/prod/admin-service-start.sh prod 2744
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
