[Unit]
Description=uwscli-%i
Requires=syslog.service
AssertFileIsExecutable=/usr/bin/schroot
AssertFileIsExecutable=/usr/sbin/debootstrap
AssertFileIsExecutable=/srv/uwscli/schroot/start.sh
AssertFileIsExecutable=/srv/uwscli/schroot/stop.sh
AssertFileIsExecutable=/srv/uws/deploy/cli/schroot/setup.sh

[Service]
Type=exec
Restart=on-failure
#~ StandardError=journal
#~ SyslogIdentifier=sshd
#~ SyslogFacility=authpriv
User=uws
Group=uws
WorkingDirectory=/home/uws
ExecStartPre=cd /srv/uws/deploy
ExecStartPre=./cli/schroot/setup.sh %i
ExecStart=/srv/uwscli/schroot/start.sh %i
ExecStop=/srv/uwscli/schroot/stop.sh %i

[Install]
WantedBy=multi-user.target
