[Unit]
Description=uwscli-test
Requires=syslog.service
AssertFileIsExecutable=/usr/bin/schroot
AssertFileIsExecutable=/srv/uwscli/schroot/start.sh
AssertFileIsExecutable=/srv/uwscli/schroot/stop.sh
AssertFileIsExecutable=/srv/uws/deploy/cli/schroot/setup.sh

[Service]
Type=exec
Restart=on-failure
#~ StandardError=journal
#~ SyslogIdentifier=sshd
#~ SyslogFacility=authpriv
User=uwsrun
Group=uws
WorkingDirectory=/home/uwsrun
ExecStartPre=cd /srv/uws/deploy
ExecStartPre=./cli/schroot/setup.sh test
ExecStart=/srv/uwscli/schroot/start.sh test sshd
ExecStop=/srv/uwscli/schroot/stop.sh test sshd

[Install]
WantedBy=multi-user.target
