---
- name: dir setup
  become: yes
  file:
    state: directory
    path: "{{ item }}"
    mode: '0751'
    owner: root
    group: "{{ ansible_user }}"
  loop:
    - /srv/acme
    - /srv/acme/bin
    - /srv/acme/etc
    - /srv/acme/run
  tags:
    - acme

- name: cert dirs
  become: yes
  file:
    state: directory
    path: "{{ item }}"
    mode: '0770'
    owner: root
    group: uws
  loop:
    - /srv/acme/cert
    - /srv/acme/key
    - /srv/acme/req
  tags:
    - acme

- name: account.key
  become: yes
  copy:
    src: ~/secret/acme/{{ uws_acme_account }}
    dest: /srv/acme/key/account.key
    owner: uws
    group: uws
    mode: '0400'
  tags:
    - acme

- name: run dirs
  become: yes
  file:
    state: directory
    path: "{{ item }}"
    mode: '0770'
    owner: uws
    group: "{{ ansible_user }}"
  loop:
    - /srv/acme/run/tmp
  tags:
    - acme

- name: challenges dir
  become: yes
  file:
    state: directory
    path: /srv/acme/run/challenge
    mode: '0750'
    owner: uws
    group: www-data
  tags:
    - acme

- name: docker image
  docker_image:
    repository: uwsops
    name: "{{ uwsops_ecr }}:acme"
    source: pull
    force_source: yes
    force_tag: yes
  tags:
    - acme
    - docker

- name: scripts
  become: yes
  copy:
    src: ~/srv/acme/bin/{{ item }}
    dest: /srv/acme/bin/{{ item }}
    mode: '0550'
    owner: root
    group: "{{ ansible_user }}"
  loop:
    - acme-certs.sh
    - acme-cmd.sh
    - acme-reload.sh
  tags:
    - acme

- name: cron job
  become: yes
  cron:
    cron_file: uws-acme
    name: acme-certs
    user: uws
    job: /srv/acme/bin/acme-certs.sh
    minute: "17"
    hour: "3"
    day: "3,18"
  tags:
    - acme

- name: reload cron job
  become: yes
  cron:
    cron_file: uws-acme-reload
    name: acme-reload
    user: root
    job: /srv/acme/bin/acme-reload.sh
    minute: "20"
    hour: "4"
    day: "3,18"
  tags:
    - acme

- name: certs.list
  become: yes
  template:
    src: acme/certs.list
    dest: /srv/acme/etc/certs.list
    owner: root
    group: "{{ ansible_user }}"
    mode: '0440'
  when: uws_acme_certs
  tags:
    - acme
    - acme-certs

- name: get certs
  command: /srv/acme/bin/acme-certs.sh
  tags:
    - acme
    - acme-certs
