[defaults]
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/asb_facts
cache_timeout = 3600

roles_path = ${HOME}/asb/roles

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y/%m/%d %H:%M:%S
  user: {uid}
  host: {host}
