#cloud-config

hostname: janis
fqdn: janis.uws.talkingpts.org

packages:
  - bash
  - awscli
  - rsync
  - ssh-import-id
  - sharutils
  - xz-utils
  - screen
  - nq
  - make
  - fail2ban
  - munin-node
  - psmisc
  - procps
  - munin-plugins-core
  - munin-plugins-extra
  - pass
  - nginx
  - git
  - wget
  - libbsd0
  - libarchive13
  - docker.io
  - docker-compose

swap:
  filename: /.swp
  size: 2G
  maxsize: 2G

groups:
  - uws

users:
  - default
  - name: uws
    gecos: uws
    uid: 1001
    lock_passwd: true
    homedir: /home/uws
    sudo: false
    ssh_import_id:
      - gh:jrmstp
  - name: uwsrun
    gecos: uwsrun
    uid: 1002
    lock_passwd: true
    homedir: /home/uwsrun
    sudo: false
    groups:
      - uws
