---
- name: install
  become: yes
  apt:
    install_recommends: no
    pkg:
      - docker.io
      - docker-compose
  tags:
    - apt
    - docker-apt

- name: user group
  become: yes
  group:
    state: present
    name: docker
    system: yes
  tags:
    - docker

- name: group auth
  become: yes
  user:
    name: "{{ item }}"
    append: yes
    groups: docker
  loop: "{{ docker_users }}"
  tags:
    - docker

- name: ecr docker login script
  copy:
    src: ~/host/ecr-login.sh
    dest: "~/bin/ecr-login.sh"
    mode: '0750'
  tags:
    - docker

- name: ecr docker login
  command: "~/bin/ecr-login.sh {{ aws_region }}"
  tags:
    - docker
