<table class="w3-table w3-hoverable">
	<tr class="w3-hover-dark-gray">
		<th>Date</th>
		<th>ID</th>
		<th>URL</th>
		<th><a title="Concurrency">C</a></th>
		<th><a title="Failed">F</a></th>
		<th><a title="Request per second">R/s</a></th>
		<th><a title="Time per request">T/r(ms)</a></th>
		<th><a title="Total time">Took(s)</a></th>
	</tr>
% for job in abench_nqjobs:
	<tr class="w3-hover-dark-gray">
		<td class="w3-text-gray">{{ job.start_time() }}</td>
		<td>
			<a class="w3-text-green w3-hover-text-blue" href="{{ url('/nq', job.id()) }}">{{ job.id() }}</a>
		</td>
		<td>{{ job.command().split(' ')[-1] }}</td>
		<td>{{ job.concurrency }}</td>
		<td>{{ job.failed() }}</td>
		<td>{{ job.rps() }}</td>
		<td>{{ job.tpr() }}</td>
		<td>{{ job.took() }}</td>
	</tr>
% end
</table>
