[Unit]
Description=uws-munin-node
Requires=syslog.service
Requires=docker.service
After=docker.service
AssertFileIsExecutable=/usr/bin/docker-compose

[Service]
Type=exec
Restart=on-failure
StandardError=syslog
User=uwsrun
Group=uws
WorkingDirectory=/srv/etc/munin-node
ExecStop=/usr/bin/docker-compose down
ExecStart=/usr/bin/docker-compose up --no-color

[Install]
WantedBy=multi-user.target
