[Unit]
Description=uws-munin
Requires=syslog.service
Requires=docker.service
After=docker.service
AssertFileIsExecutable=/usr/bin/docker

[Service]
Type=exec
Restart=on-failure
StandardError=syslog
User=uws
Group=uws
WorkingDirectory=/home/uws
ExecStop=/usr/bin/docker stop uws-munin-service
ExecStart=/usr/bin/docker run -it --rm --pull always -u root \
	--name uws-munin-service \
	--hostname munin.uws.local \
	-v /srv/munin/var/lib:/var/lib/munin \
	-v /srv/munin/cache/www:/var/cache/munin/www \
	-v /srv/munin/var/log:/var/log/munin \
	789470191893.dkr.ecr.us-east-1.amazonaws.com/uws:munin

[Install]
WantedBy=multi-user.target
