[Unit]
Description=jupyter-notebook
Requires=syslog.service
AssertFileIsExecutable=/usr/local/bin/jnb-start.sh
AssertFileIsExecutable=/usr/bin/jupyter-notebook

[Service]
Type=exec
Restart=on-failure
User=jupyter
Group=jupyter
WorkingDirectory=/srv/home/jupyter
ExecStop=/usr/local/bin/jnb-stop.sh
#SuccessExitStatus=SIGKILL
ExecStart=/usr/local/bin/jnb-start.sh

[Install]
WantedBy=multi-user.target
