---
- name: cache setup
  become: true
  file:
    state: directory
    path: "{{ item }}"
    owner: root
    group: root
    mode: '0755'
  loop:
    - "{{ nginx_cache_dir }}"
  tags:
    - nginx
    - nginx_tls

- name: uws cache setup
  become: true
  file:
    state: directory
    path: "{{ item }}"
    owner: "{{ nginx_user }}"
    group: "{{ nginx_group }}"
    mode: '0750'
  loop:
    - "{{ nginx_cache_dir }}/uws"
  tags:
    - nginx
    - nginx_tls

- name: config
  become: true
  template:
    src: conf/{{ item }}.conf
    dest: /etc/nginx/conf.d/zzzuws_{{ item }}.conf
    mode: '0644'
    owner: root
    group: root
  loop:
    - tls
  notify:
    - reload nginx
  tags:
    - nginx
    - nginx_tls

- name: snippets
  become: true
  template:
    src: snippets/{{ item }}.conf
    dest: /etc/nginx/snippets/uws_{{ item }}.conf
    mode: '0644'
    owner: root
    group: root
  loop:
    - cache
    - cache-setup
    - ssl
    - ssl-verify-client
    - munin
    - monit
  notify:
    - reload nginx
  tags:
    - nginx
    - nginx_tls

- name: default server
  become: true
  template:
    src: nginx/default_tls.conf
    dest: /etc/nginx/sites-enabled/default_tls
    mode: '0644'
    owner: root
    group: root
  notify:
    - reload nginx
  tags:
    - nginx
    - nginx_tls

- name: sites enable
  become: true
  template:
    src: "{{ item }}"
    dest: "/etc/nginx/sites-enabled/{{ item | basename }}"
    mode: '0644'
    owner: root
    group: root
  loop: "{{ nginx_tls_site }}"
  notify:
    - reload nginx
  tags:
    - nginx
    - nginx_tls
