[Unit]
Description=uwsapi-%i
Requires=syslog.service
AssertFileIsExecutable=/usr/bin/docker
AssertFileIsExecutable=/srv/uwscli/apid/start.sh
AssertFileIsExecutable=/srv/uwscli/apid/stop.sh

[Service]
Type=exec
Restart=on-failure
User=uws
Group=uws
WorkingDirectory=/home/uws
ExecStart=/srv/uwscli/apid/start.sh %i
ExecStop=/srv/uwscli/apid/stop.sh %i

[Install]
WantedBy=multi-user.target
